<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>GWFL GSC</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js" type="text/javascript"></script>
  <script src="script.js"></script>
</head>

  <body ng-controller="MainCtrl">

    <ion-nav-view></ion-nav-view>

    <script id="templates/event-menu.html" type="text/ng-template">
      <ion-side-menus enable-menu-with-back-views="false">

        <ion-side-menu-content>
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
<a  href="#"><button class="button button-icon button-clear ion-ios-home-outline" menu-close></button></a>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>  </ion-nav-buttons>
        </ion-nav-bar>

          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content> 

        <ion-side-menu side="left">
          <ion-header-bar class="bar-assertive">
            <h1 class="title">Main Menu</h1>
          </ion-header-bar>
          <ion-content>
<div class="list">
  <a class="item item-icon-left" href="#" menu-close>
    <i class="icon ion-ios-home-outline"></i>
    Summary     <span class="item-note">
      (home)
    </span>
  </a>
  <a href="#/event/ALLscores" class="item item-icon-left" menu-close>
      <i class="icon ion-social-usd-outline"></i>
    JackPot <span class="item-note"> edit scores </span>
  </a>              
  <a href="#/event/wolf" class="item item-icon-left" menu-close>
      <i class="icon ion-ios-flame-outline"></i>
    WOLF <span class="item-note"> edit scores </span>
  </a>              
  <a  href="#/event/players" class="item item-icon-left" menu-close>
    <i class="icon ion-person-stalker"></i>
    Setup Players  <span class="item-note">step 2</span>
  </a>
  <a href="#/event/match"  class="item item-icon-left" menu-close>
    <i class="icon ion-ios-settings"></i>
    Setup Match  <span class="item-note">Start Here </span>
  </a>
</div>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Golf Match">
        <ion-content>
<ion-list><ion-item>
  <div class="row"> 
  <div class="col">            <span class="button button-small button-light">{{$l_s.vm.loc}}  </span>
            <span class="badge badge-light"> {{$l_s.vm.when}} </span>
</div>
<div class="col"></div>
  </div>
</ion-item></ion-list>
<div  class="list card" ng-repeat="pp in xxTimes($l_s.vm.pp)" ng-init="ppIdx = $index">
  <div class="row">  <div class="col-50">
<button class="button" ng-click="calcTsw()"><span class="badge badge-energized">{{$l_s.vp[ppIdx].nm}}</span>
  <span class="badge">{{$l_s.vp[ppIdx].th}}</span><br />
            <span class="badge">Points: </span>
<span class="badge badge-royal"> {{ $l_s.vp[ppIdx].wolfPts }} </span>
</button></div>
<div class="col text-center">
<button class="button button-positive"> {{ $l_s.vp[ppIdx].ts }} 
</button></div>
<div class="col text-right">
<button class="button button-balanced"> {{ $l_s.vp[ppIdx].tw | currency }} </button>
</div>
  </div>
</div>
  <div class="row-fluid"> 
  Copyright &copy; &middot; Lee DaBord &middot; Inglewood, CA. USA
  </div>
  <h2> </h2>
<div class="row">
  <div class="col">
<a  href="#/event/ALLscores"  class="item item-icon-left">
  <i class="icon ion-social-usd"></i> All Scores </a>
  </div>
  <div class="col">
<a  href="#/event/wolf"  class="item item-icon-left"  menu-close>
  <i class="icon ion-ios-flame"></i> Wolf </a>
  </div>
</div>
        </ion-content>
      </ion-view>
    </script>

      <script id="templates/ALLscores.html" type="text/ng-template">
      <ion-view view-title="All Scores">      <ion-content>
      <ion-list>
        <div ng-repeat="group in groups"  ng-init="hhIdx = $index">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            <span class="button button-small button-calm">HOLE # {{$index+1}}</span>  
            <span class="badge">  Par {{$l_s.vm.cp[$index]}} / h:{{$l_s.vm.ch[$index]}} </span>  
          </ion-item>
          <ion-item class="item-accordion"
 ng-repeat="pp in xxTimes($l_s.vm.pp)" ng-init="ppIdx = $index"
 ng-show="isGroupShown(group)">

<div  class="row">
 <div class="col-25">
  <span class="button button-light" ng-click="calcTsw()">{{$l_s.vp[ppIdx].nm}}</span>
 </div>
<div class="col">
  <button class="button button-small button-assertive" ng-click="adjVP(-1,ppIdx,hhIdx,'s')"> - </button> 
  <button class="button button-small button-light">h:{{$l_s.vp[ppIdx].h[hhIdx]}}</button>  
  <button class="button button-small button-balanced" ng-click="adjVP(1,ppIdx,hhIdx,'s')"> + </button> 

  <div class="row">
  <button class="button button-large button-positive" ng-click="adjVP(0,ppIdx,hhIdx,'s')">{{$l_s.vp[ppIdx].s[hhIdx]}}</button>
  </div>

  <div class="row">
  <button class="button button-small button-light"></button>
  </div>
</div>
<div class="col">
      <button class="button button-balanced"> {{ $l_s.vp[ppIdx].w[hhIdx] | currency }} </button>
  <div class="row">
              <button class="button button-small button-stable" ng-click="adjVP(-1,ppIdx,hhIdx,'u')"> - </button>
      <span class="button button-small button-calm"> {{ $l_s.vp[ppIdx].u2[hhIdx] | currency }} </span>
              <button class="button button-small button-stable" ng-click="adjVP(1,ppIdx,hhIdx,'u')"> + </button>
  </div>
 </div>

</div>

          </ion-item>
        </div>
      </ion-list>

      </ion-content>      </ion-view>
    </script>

    <script id="templates/wolf.html" type="text/ng-template">
      <ion-view view-title="Wolf Scores">      <ion-content>
      <ion-list>
        <div ng-repeat="group in groups"  ng-init="hhIdx = $index">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            <span class="button button-small button-calm">HOLE # {{$index+1}}</span>  
            <span class="badge">  Par {{$l_s.vm.cp[$index]}} / h:{{$l_s.vm.ch[$index]}} </span>  
          </ion-item>
          <ion-item class="item-accordion"
 ng-repeat="pp in xxTimes($l_s.vm.pp)" ng-init="ppIdx = $index"
 ng-show="isGroupShown(group)">

<div class="row">  <div class="col-33">
<button class="button button-large button-dark" ng-click="calcTsw()">{{$l_s.vp[ppIdx].nm}}
  <span class="button button-small button-stable">({{$l_s.vp[ppIdx].th}})</span><br>
  <span class="button button-calm">Pts: {{$l_s.vp[ppIdx].wolfPts}}</span></button>
</div>
<div class="col text-center">
  <button class="button button-small button-assertive" ng-click="adjVP(-1,ppIdx,hhIdx,'s')"> - </button> 
  <button class="button button-large button-positive"  ng-click="adjVP(0,ppIdx,hhIdx,'s')">{{$l_s.vp[ppIdx].s[hhIdx]}}</button>
  <button class="button button-small button-balanced" ng-click="adjVP(1,ppIdx,hhIdx,'s')"> + </button> 
  <br><br>  <span class="button button-small button-royal" ng-click="wrPop(ppIdx,hhIdx)">{{$l_s.vp[ppIdx].wolf[hhIdx].role}} <i class="icon ion-chevron-down"></i></span>

</div>
<div class="col text-right">
<div>  <span class="button-small button-stable">winner:</span><br>
     <label class="toggle toggle-energized">
<input type="checkbox" ng-model="$l_s.vp[ppIdx].wolf[hhIdx].winner" ng-change="adjVP(0,ppIdx,hhIdx,'s')">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</div>  <br>
<span class="button button-small button-light">pts: {{$l_s.vp[ppIdx].wolf[hhIdx].pts}}</span>
</div>
</div>

</div>

</div>

      <h4> <br>  </h4>
          </ion-item>
        </div>
      </ion-list>

      </ion-content>      </ion-view>
    </script>

    <script id="templates/players.html" type="text/ng-template">
      <ion-view view-title="Setup Players">
        <ion-content>
<div class="list">
  <div class="item">
          <div class="row-fluid"> Course Par: <span class="button button-small button-royal">{{ $l_s.vm.cp }}</span></div>
          <div class="row-fluid"> Course Hcp: <span class="button button-small button-energized">{{ $l_s.vm.ch }}</span></div>
  <h2> </h2>
  </div>
<div  class="item" ng-repeat="pp in xxTimes($l_s.vm.pp)" ng-init="ppIdx = $index">
  <div class="row">
  <div class="col-50">    <label class="item item-input item-floating-label">
    <span class="input-label">Name {{ppIdx+1}}</span>
    <input ng-model="$l_s.vp[ppIdx].nm" type="text" placeholder="name">
  </label>  </div>
  <div class="col-20 col-offset-10">    <label class="item item-input item-floating-label">
    <span class="input-label">Hcp:</span>
    <input ng-model="$l_s.vp[ppIdx].th" type="number" placeholder="hcp">
  </label>  </div>
  </div>
  <h4> </h4>
  <div class="row">
    hcp: <span class="button button-small button-stable">{{$l_s.vp[ppIdx].h}}:</span>
  </div>                
</div>
  <div class="item">
<a  href="#" menu-close><button class="button button-small button-positive" ng-click="vp18($index)"> Done </button></a>
  </div>
</div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/match.html" type="text/ng-template">
      <ion-view view-title="Setup Match">
        <ion-content>
  <div class="list">
  <div class="col-10 col-offset-90">
  <a  href="#/event/match" class="button button-small button-light button-outline" ng-click="clearLSvm()">
    <span class="item-note">Reset</span>
  </a>
</div></div>
  <div class="row">
  <div class="col">
          <label class="item item-input item-select">
          {{$l_s.vm.loc}}
          <select ng-options="cc.Nm for cc in vCourses track by cc.Nm"
                  ng-model="selCC"
                  ng-change="selCourseF(selCC)" style="width: 30px">
          </select> 
        </label>
  </div>
  <div class="col col-33">
  <label class="item item-input">
    <input type="text" placeholder="When:" ng-model="$l_s.vm.when">
  </label>
  </div>
  </div>
  <div class="row">
  <div class="col">    <label class="item item-input item-floating-label">
    <span class="input-label"># Players:</span>
    <input ng-model="$l_s.vm.pp" type="number" placeholder="0">
  </label>  </div>
  <div class="col">    <label class="item item-input item-floating-label">
    <span class="input-label">Wager:</span>
    <input ng-model="$l_s.vm.ww" type="number"  placeholder="0" />
            </label>  </div>
  </div>
              <hr> <h4> JackPot PRIZES:</h4>
                <h4>   </h4>
  <div class="row">
  <div class="col col-20" ng-repeat="pz in xxTimes(5)">
                    <span class="button button-small button-energized"> [ {{$index - 4}} ] </span>
                    <input class="item item-input" ng-model="$l_s.vm.pz4[$index]" type="number" />
  </div>
  </div>
                <h4>   </h4>
  <div class="row">
  <div class="col col-20" ng-repeat="pz in xxTimes(5)">
                    <span class="button button-small button-energized"> [ {{$index}} ] </span>
                    <input class="item item-input" ng-model="$l_s.vm.pz4[$index+5]" type="number" />
  </div>
  </div>

                <h4>   </h4>

<div class="row">
  <a  href="#/event/players" class="button button-positive button-outline"  ng-click="clearLSvp()" menu-close>
    <i class="icon ion-person-stalker"></i>
    Setup Players
  </a>
</div>
      </ion-content>
      </ion-view>
    </script>
    
    <script id="wrPopup.html" type="text/ng-template">

    <ion-radio name="wRole" ng-repeat="wr in wwRR" ng-value="wr" ng-model="role" ng-change="selWR(wr,ppIdx,hhIdx);">
          {{ wr }}
        </ion-radio>    
    </script>
    
    <script id="gcPopup.html" type="text/ng-template">
    <ion-radio ng-repeat="gc in vCourses"
                   ng-value="gc.Nm"
                   ng-model="selCC"
                   ng-change="selCourseF(selCC)"
                   name="selGC">
      {{ gc.Nm }}
    </ion-radio>    
    </script>

  </body>
</html>
